{% extends "base.html" %}
{% block content %}

<div style="max-width:700px;margin:auto;padding:40px 20px;">

<h2>Create News</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="auth-flash {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data">

<input
type="text"
name="title"
placeholder="News Title"
class="auth-input"
required
>

<textarea
name="content"
placeholder="News Content"
class="auth-input"
style="height:200px"
required
></textarea>

<label>Category</label>
<select name="category" class="auth-input" required>
{% for key, label in news_categories %}
<option value="{{ key }}">{{ label }}</option>
{% endfor %}
</select>

<label>Upload Image</label>

<input
type="file"
name="image"
accept="image/png, image/jpeg, image/webp"
class="auth-input"
>

<button type="submit" class="auth-button">
Publish News
</button>

</form>

</div>

{% endblock %}
