{% extends "base.html" %}
{% block content %}

<div style="max-width:700px;margin:auto;padding:40px 20px;">

<h2>Edit News</h2>

<form method="POST" enctype="multipart/form-data">

<input
type="text"
name="title"
value="{{ news.title }}"
class="auth-input"
required
>

<textarea
name="content"
class="auth-input"
style="height:200px"
required
>{{ news.content }}</textarea>

<label>Category</label>
<select name="category" class="auth-input" required>
{% for key, label in news_categories %}
<option value="{{ key }}" {% if news.category == key %}selected{% endif %}>{{ label }}</option>
{% endfor %}
</select>

<label>Change Image</label>

<input
type="file"
name="image"
accept="image/png, image/jpeg, image/webp"
class="auth-input"
>

<button type="submit" class="auth-button">
Update News
</button>

</form>

</div>

{% endblock %}
